.new-label,
.discount-label {
  position: absolute;
  top: 14px;
  width: 60px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  z-index: 60;
  transform: rotate(90deg);
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
.new-label::before,
.discount-label::before {
  content: "";
  z-index: -1;
  border-width: 16px 5px;
  position: absolute;
  bottom: 0px;
  right: -9px;
}

.new-label::after,
.discount-label::after {
  content: "";
  z-index: -1;
  border-width: 16px 5px;
  position: absolute;
  top: 0px;
  right: -9px;
}

.new-label {
  right: 0;
  background-color: var(--secondary-color);
}
.new-label::before {
  border-color: transparent transparent var(--secondary-color) var(--secondary-color);
}
.new-label::after {
  border-color: var(--secondary-color) transparent transparent var(--secondary-color);
}

.discount-label {
  right: 35px;
  background-color: #535353;
}
.discount-label::before {
  border-color: transparent transparent #535353 #535353;
}
.discount-label::after {
  border-color: #535353 transparent transparent #535353;
}
