@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #bc8246;
  --font-color: #a3a3a3;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
}
li a {
  @apply hover:cursor-pointer;
}
.res-w {
  @apply w-[100%]  xl:w-[80%] 2xl:w-[65%] xl:mx-auto;
}

.flex-center {
  @apply flex items-center justify-center;
}

.ease-500 {
  @apply duration-500 ease-in-out;
}

.img-fill {
  @apply w-full h-full object-cover;
}

li a:hover {
  @apply hv-eff;
}
.hv-eff {
  @apply hover:text-[var(--secondary-color)] duration-300 ease-in-out cursor-pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.animate-btn span {
  position: relative;
  z-index: 20;
  transition-delay: 0.1s;
}
.animate-btn {
  background-color: white;
  position: relative;
  transition: 0.3s ease-in-out;
}
.animate-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
  background-color: var(--secondary-color);
}
.animate-btn:hover::after {
  height: 100%;
}
.animate-btn:hover {
  transform: scale(1.02);
}
.animate-btn:hover span {
  color: white;
}
@keyframes btn-effect {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #e1e1e1;
  height: 100%;
  width: 1px;
  margin: auto;
  @apply hidden md:block;
}
.line::after {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  content: "or";
  width: 51px;
  height: 51px;
  font-size: 14px;
  line-height: 51px;
  font-style: italic;
  border-radius: 50%;
  color: #666;
  background-color: #f5f5f5;
  text-align: center;
  z-index: 100;
  top: 0;
  bottom: 0;
  margin: auto;
}
