nav li {
  @apply px-1 xl:px-4 text-[var(--font-color)];
}

nav li.active,
nav button.active {
  @apply text-[var(--secondary-color)];
}

.shop-table th {
  @apply text-start px-8 border-r-[1px] py-2;
}
.shop-table td {
  @apply px-8 border-r-[1px] font-light text-sm py-2 whitespace-nowrap hover:text-[var(--secondary-color)];
}

.pages-navbar li {
  @apply pl-6 pr-14 py-2 whitespace-nowrap text-black text-sm;
}

.navbar-animation {
  animation: navbar-animation 0.8s;
  position: fixed;
  background-color: var(--primary-color);
  @apply shadow;
}

@keyframes navbar-animation {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.show {
  animation: shop-list-animation 0.5s ease-in-out;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@keyframes shop-list-animation {
  from {
    opacity: 0;
    visibility: 0;
    transform: translateY(12rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
