nav li {
  @apply px-1 text-[var(--font-color)] xl:px-4;
}

nav button.active {
  @apply text-[var(--secondary-color)];
}

.shop-table th {
  @apply border-r-[1px] px-8 py-2 text-start;
}
.shop-table td {
  @apply whitespace-nowrap border-r-[1px] px-8 py-2 text-sm font-light hover:text-[var(--secondary-color)];
}

.navbar-animation {
  animation: navbar-animation 0.8s;
  background-color: var(--primary-color);
  @apply shadow;
}

@keyframes navbar-animation {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.show {
  animation: shop-list-animation 0.5s ease-in-out;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@keyframes shop-list-animation {
  from {
    opacity: 0;
    visibility: 0;
    transform: translateY(12rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
